* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px; 
}

.header__nav {
    background: black;
    padding: 34px;
}

.header__nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 14px;
    line-height: 16.8px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;  
}

.logo__span {
    background: rgba(74, 144, 226, 1);
    border-radius: 3px;
    padding: 3px 5px;
}

.haeder__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;   
}

.header__nav-link {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 18.12px;
}

.main__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 265px;
    gap: 30px;
    margin-top: 35px;
    
}

.main__item:first-of-type {
    grid-row: span 2;
    grid-column: span 1;
}

.main__item {
    position: relative;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%);
    
}

.main__item-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}

.main__item-text {
    font-size: 14px;
    line-height: 18.12px;
    color: rgba(255, 255, 255, 1);
}

.main__item-title {
    font-size: 26px;
    line-height: 36px;    
    color: rgba(255, 255, 255, 1);
}



